:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  text-align: center;
  background-color: lightgrey;
  padding: 1rem;
}

section {
  display: flex;
  gap: 2rem;
}

section > * {
  flex: 1;
}
