<h2>Simple Input</h2>
<section>
  <app-template-simple-input />
  <app-reactive-simple-input />
</section>
<h2>Checkbox</h2>
<section>
  <app-reactive-simple-checkbox />
  <app-template-simple-checkbox />
</section>
<h2>Radio Buttons</h2>
<section>
  <app-reactive-simple-radio-buttons />
  <app-template-simple-radio-buttons />
</section>
<h2>Select</h2>
<section>
  <app-reactive-simple-select />
  <app-template-simple-select />
</section>
<h2>Datalist</h2>
<section>
  <app-reactive-simple-datalist />
  <app-template-simple-datalist />
</section>
